﻿@model IEnumerable<HogwartLibrary.Data.Models.Book>
<table class="table table-bordered table-responsive">
    <thead>
        <tr>
            <th>Title</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.Title</td>
            </tr>
        }
    </tbody>
</table>